%h1.logo 
  Welcome to the Company
  %br/
  And the Way to the Future
= link_to "log in", new_user_session_path
%hr/
%ul
  %strong
    = link_to "Company Form", post_subjects_path
    %br/
    %br/
    %br/
    = link_to "About The Company", company_info_index_path