body {background-color: #cccccc;
        color: #195E31;
        text-align: center;}
a {color: #00003D;
    text-decoration: none;}
.logo {border-radius: 100px;
        width: 400px;
        margin-left: 440px;
        box-shadow: -7px -5px 5px #00003D;
        text-shadow: #00003D 1.2px 1px;}

.formlogo {border-radius: 100px;
        width: 300px;
        margin-left: 490px;
        box-shadow: -7px -5px 5px #00003D;
        text-shadow: #00003D 1.2px 1px;}

.subjectopt {text-decoration: none;} 

.info_index {border-radius: 100px;
        width: 400px;
        margin-left: 440px;
        box-shadow: -7px -5px 5px #00003D;
        text-shadow: #00003D 1.2px 1px;}       
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
