<h3>Tell us whats on your mind!</h3><br>

<form action="/create_post" method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="post[title]">
  <br>
  <textarea name="post[body]" id="body" rows="5" cols="30"></textarea>
  <br>
  <input type="submit" value="Post Now">
</form>