<ul class="menu_list">
  <a href="show_post"><li><strong>Blog Posts</strong></li></a><br> 
  <a href="create_post"><li><strong>make a post</strong></li></a><br>  
  <a href="mission_statement"><li><strong>Our Mission Statement</strong></li></a><br>
  <a href="game"><li><strong>Game(dev)</strong></li></a>
</ul>