<html>
<head>
  <title>The Company</title>
  <link rel="stylesheet" type="text/css" href="./css/Website_style.css">
</head>
<body>
  <div class="title">
    <h1 class="plh1">Welcome to the Company</h1>
    <h2 class="plh2">and the way to the future</h2>
  </div>
<%= yield %>
<footer><a href="/">Home</a></footer>
</body>
</html>